ul {
  list-style: none;
}

ul li {
  margin: 5px 20px;
  float: left;
}

.wp-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  color: #fff;
  margin-right: 5px;
}

.fa-facebook-f {
  background: #3b5998;
}

.fa-linkedin {
  background: #0077b5;
}

.fa-twitter {
  background: #1da1f2;
}
.fa-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.fa-google-plus {
  background: #d04338;
}
.fa-youtube {
  background: #ff0000;
}

.fa-pinterest {
  background: #bd081c;
}

